{% extends "designs/base.html" %}
{% load static %}

{% block title %}Log In{% endblock %}

{% block stylesheet %}
    <!-- Add the path to your custom login/signup stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'designs/css/login_signup.css' %}">
{% endblock %}

{% block content %}

    <!-- Background -->
    <section class="background-main">
        
        <!-- Header Section -->
        <header>
            <div class="logo">
                <a href="{% url 'designs' %}"><img src="{% static 'designs/images/DoD_logo-small.png' %}" alt="Logo"></a>
            </div>
        </header>

        <div class="container position-absolute top-50 start-50 translate-middle">
            <div class="login-form d-flex flex-column justify-content-center">
                <h2 class="login-title">Log In</h2>
                <form method="post"> 
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    {%comment%} TODO Add error messages when login fails {%endcomment%}
                    <button type="submit">Login</button>
                </form>
                 {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="{% if message.tags %}{{ message.tags }}{% endif %}">
                            {{ message }}
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
           <p>Don't have an account? <a href="{% url 'signup' %}" class="login-link">Sign Up</a></p>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer class="sticky-bottom">
        <div class="footer-logo">
            <a href="{% url 'designs' %}"><img src="{% static 'designs/images/DoD_logo-small.png' %}" alt="Logo"></a>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'about_us' %}">About Us</a></li>
                <li><a href="{% url 'about_us' %}">Contact</a></li>
                <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
            </ul>
        </nav>
        <div class="social-icons">
            <a href="#"><img src="{% static "designs/images/facebook-logo-secondary.png" %}" alt="Facebook" class="resize" ></a>
            <a href="#"><img src="{% static "designs/images/x-logo-white.png" %}" alt="Twitter" class="resize" ></a>
            <!-- Add more social icons as needed -->
        </div>
    </footer>
{% endblock %}
