{% extends "designs/base.html" %}
{% load static %}

{% block title %}User Design Upload Page{% endblock %}

{% block stylesheet%}
<script src="{% static 'designs/js/scripts.js' %}"></script>
<link rel="stylesheet" href="{% static 'designs/css/upload_design.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/loadingio/ldbutton@v1.0.1/dist/ldbtn.min.css"/>
<script src="https://cdn.jsdelivr.net/gh/loadingio/ldLoader@v1.0.0/dist/ldld.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/loadingio/loading.css@v2.0.0/dist/loading.css">

{% endblock %}

{% block content %}
<header>
  <div class="goback-container">
    <a href="{% url 'user_home' %}" class="goback-button">Go Back</a>
  </div>
  <div class="title-container">
    <h1>Upload your own Design</h1>
  </div>

</header>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <h2 for="id_image">Upload your Design:</h2>
  {{ upload_form.image }}
  <input type="file" name="image" id="image" accept="image/*">
  
  <label>Categories:</label>
  <table>
    {% for i in categories|slice:":25" %}
      {% if forloop.counter0|divisibleby:5 %}
        <tr>
      {% endif %}
        <td>
          <div class="checkbox-container">
            <input type="checkbox" name="categories" id="category_{{ i.id }}" value="{{ i.id }}">
            <label for="category_{{ i.id }}">{{ i.name }}</label>
          </div>
        </td>
      {% if forloop.counter|divisibleby:5 %}
        </tr>
      {% endif %}
    {% endfor %}
    </table>
    <button type="submit" id="mybtn" class="btn ld-ext-right">
      Upload Image
      <div class="ld ld-ring ld-spin"></div>
  </button>
</form>

{% comment %} CANNOT BE MOVED TO SEPERATE JS FILE {% endcomment %}
<script>
  var btn = document.getElementById("mybtn");
  var loader = new ldLoader({ root: btn }); {% comment %} This prevents it from working outside of the template {% endcomment %}
  btn.addEventListener("click", function() {
    loader.toggle();
  });
</script>

<h2 class="success-message">{{ success_message }}</h2>

{% if form.errors.image and not form.errors.categories %}
    <h2><p class="error-message">{{ form.errors.image }}</p></h2>
{% endif %}

{% if form.errors.categories and not form.errors.image %}
    <h2><p class="error-message">Please select at least one category</p></h2>
{% endif %}

{% if form.errors.image and form.errors.categories %}
    <h2><p class="error-message">Please upload an image and select at least one category</p></h2>
{% endif %}

<h1>Uploaded Designs:</h1>
{% comment %} <ul> {% endcomment %}
{% comment %} <div class="uploaded_images"> {% endcomment %}
<div class="swiper">
    <div class="swiper-wrapper">
      {% for image in design_images %}
          <div class="swiper-slide"> 
              {% comment %} <div class="image"> {% endcomment %}
                <img src="{{ image.image_url }}" class="d-block w-100" alt="..." height = "auto">
              {% comment %} </div> {% endcomment %}
          </div>
      {% endfor %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
{% comment %} </ul> {% endcomment %}
<script src="{% static 'designs/js/carousel.js' %}"></script>
{% endblock %}