{% extends "designs/base.html" %}
{% load static %}



{% block title %}User Settings Page{% endblock %}

{% block stylesheet %}
    <script src="{% static 'designs/js/scripts.js' %}"></script>
    <link rel="stylesheet" href="{% static 'designs/css/user_settings.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

{% endblock %}

{% block content %}

<div class="goback-container">
  <a href="{% url 'user_home' %}" class="goback-button">Go Back</a>
</div>

<div class="content-section">
  <div class="media">
    <div class="media-body">
      <legend class="border-bottom mb-4">Change Email Address</legend>
    </div>
  </div>
<!-- Update Email Form -->
<form method="post" action="{% url 'update_profile' %}">
  <div class="setting">
    <label for="email">Current Email Address:</label>
    <input type="email" name="old_email_address">
    <label for="email">New Email Address:</label>
    <input type="email" name="new_email_address">
    <button type="submit" name="update_email" class="profile-btn">Update Email Address</button>
  </div>
</form>

<div class="media">
  <div class="media-body">
    <legend class="border-bottom mb-4">Change Username</legend>
  </div>
</div>

<!-- Update Username Form -->
<form method="post" action="{% url 'update_profile' %}">
  <div class="setting">
    <label for="username">Current Username:</label>
    <input type="text" name="old_username" >
    <label for="username">New Username:</label>
    <input type="text" name="new_username" >
    <button type="submit" name="update_username"class="profile-btn">Update Username</button>
  </div>
</form>

<div class="media">
  <div class="media-body">
    <legend class="border-bottom mb-4">Change Password</legend>
  </div>
</div>

<!-- Update Username Form -->
<form method="post" action="{% url 'update_profile' %}">
  <div class="setting">
    <label for="username">Current Email Address:</label>
    <input type="text" name="email_address" >
    <label for="username">Current Username:</label>
    <input type="text" name="username" >
    <label for="username">Current Password:</label>
    <input type="text" name="old_password" >
    <label for="username">New Password:</label>
    <input type="text" name="new_password" >
    <button type="submit" name="update_password" class="password-btn">Update Password</button>
  </div>
</form>


<div class="media">
  <div class="media-body">
    <legend class="border-bottom mb-4">Delete Account</legend>
  </div>
</div>

<form method="post" action="{% url 'update_profile' %}">
  <div class="setting">
    <p>Do you want to delete your account?</p>
    <p>This action cannot be undone.</p>
    <label for="username">Email Address:</label>
    <input type="text" name="email_address" >
    <label for="username">Username:</label>
    <input type="text" name="username" >
    <label for="username">Password:</label>
    <input type="text" name="password" >
    <p></p>
    <p>Press the button to delete account</p>
    <button type="submit" name="delete_account" class="delete-btn">Delete Account</button>
  </div>
</form>
</div>
</div>

{% endblock %}