{% extends "designs/base.html" %}
{% load static %}

{% block title %}User Home Page{% endblock %}

{% block stylesheet %}
    <!-- Add the path to your custom user home page stylesheet -->
    <link rel="stylesheet" href="{% static 'designs/css/user_home.css' %}"/>
    <script src="{% static 'designs/js/scripts.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/loadingio/ldbutton@v1.0.1/dist/ldbtn.min.css"/>
    <script src="https://cdn.jsdelivr.net/gh/loadingio/ldLoader@v1.0.0/dist/ldld.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/loadingio/loading.css@v2.0.0/dist/loading.css">
{% endblock %}

{% block content %}
<header>
    <div class="logo">
        <a href="{% url 'designs' %}"><img src="{% static 'designs/images/DoD_logo-small.png' %}" alt="Logo"></a>
    </div>
    {% comment %} <!-- Navigation and user profile icon -->
    <nav>
        <ul>
            <li><a href="{% url 'user_home' %}">Main Page</a></li>
        </ul>
    </nav> {% endcomment %}
    <!-- User profile icon -->
    <span class="burger" onclick="toggleNav()">&#9776;</span>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
        <a href="{% url 'designer-upload' %}">Upload Your Design</a>
        <a href="{% url 'user_settings' %}">Settings</a>
        <a href="{% url 'logout' %}">Log Out</a>
    </div>
    <div class="overlay" onclick="toggleNav()"></div>
</header>

<div class="upload-form">
    <form method="post" enctype="multipart/form-data" action="{% url 'upload_user_content' %}">
        {% csrf_token %}
        <h1><label for="image">Upload your image:</label></h1>
        <input type="file" name="image" id="image" accept="image/*">
        <button type="submit" id="mybtn" class="btn ld-ext-right">
            Upload Image
            <div class="ld ld-ring ld-spin"></div>
        </button>
    </form>
</div>
{% comment %} CANNOT BE MOVED TO SEPERATE JS FILE {% endcomment %}
<script>
    var btn = document.getElementById("mybtn");
    var loader = new ldLoader({ root: btn }); {% comment %} This prevents it from working outside of the template {% endcomment %}
    btn.addEventListener("click", function() {
      loader.toggle();
    });
</script>

{% if form.errors.image %}
    <h2><p class="error-message">{{ form.errors.image }}</p></h2>
{% endif %}

<!-- ML Model Results -->
<div class="top-result" id="top-result">
    {% if classification_result %}
    <div id="top-prediction" class="top-prediction">
        <img src="{{ uploaded_image_url }}" alt="Uploaded Image" width="300">
        <h2>Classification Results:</h2>
        <p><strong>Our Top Prediction:</strong> {{ classification_result.top_predictions }}</p>
        {% comment %} <p><strong>Top Score:</strong> {{ classification_result.top_score }}</p> {% endcomment %}
        <!-- Swiper main container for top prediction -->
        <div class="swiper">
            <div class="swiper-wrapper">
                    {% for image_url in classification_result.top_images %}
                        <div class="swiper-slide"><img src="{{ image_url }}" class="d-block w-100" alt="..."></div>
                    {% endfor %}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>

    <div class="other-predictions" id="other-predictions">
        <h1>Other Options and Suggestions</h1>
        <ul>
            {% for prediction in classification_result.other_predictions %}
                <li><h3><strong>{{ prediction.label }} </strong></h3></li>
                {% comment %} <li>Confidence: {{ prediction.confidence }}</li> {% endcomment %}
                <!-- Swiper main container for other predictions -->
                <div class="swiper">
                    <div class="swiper-wrapper">
                            {% for image_url in prediction.images %}
                                <div class="swiper-slide"><img src="{{ image_url }}" class="d-block w-100" alt="..."></div>
                            {% endfor %}
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            {% endfor %}
        </ul>
        <div id="feedback-section">
            <h4>Did you find what you were looking for? Let us know!</h4>
            <button id="thumbs-up" onclick="vote('up')">👍</button>
            <button id="thumbs-down" onclick="vote('down')">👎</button>
            <h5 id="vote-message" class="vote-message"></h5>
        </div>
    {% endif %}
</div>

<script src="{% static 'designs/js/carousel.js' %}"></script>
    {% comment %} <footer>
        <!-- Footer content here -->
    </footer> {% endcomment %}
{% endblock %}
