{% extends "designs/base.html" %}
{% load static %}

{% block title %}User Home Page{% endblock %}

{% block stylesheet %}
    <!-- Add the path to your custom user home page stylesheet -->
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'designs/css/user_home.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'designs/css/carousel.css' %}"> {% endcomment %}
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script> {% endcomment %}
    <script src="{% static 'designs/js/scripts.js' %}"></script>
    {% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {% endcomment %}
{% endblock %}

{% block content %}
<header>
    <div class="logo">
        <a href="{% url 'user_home' %}"><img src="{% static 'designs/images/DoD_logo-small.png' %}" alt="Logo"></a>
    </div>
    <!-- Navigation and user profile icon -->
    <nav>
        <ul>
            <li><a href="{% url 'user_home' %}">Home</a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Catalog</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Ideas</a></li>
            <li><a href="#">Favorites</a></li>
        </ul>
    </nav>
    <form method = "post" enctype="multipart/form-data" action= "{% url 'upload_design' %}">
        {% csrf_token %}
        <label for="image">Select an image:</label>
        <input type="file" name="image" id="image" accept="image/*">
        <input type="submit" value="Upload Image">
        <!--{{ form.as_p }}
        <button type="submit">Upload</button>-->
    </form>
    {% if img_obj %}  
    <h3>Succesfully uploaded : {{img_obj.caption}}</h3>  
    <!--This would be where we'd call the machine learning model to start searching-->
     <!-- Display the classification results -->
            <h4>Classification Results:</h4>
            <p>Top Predictions: {{ img_obj.top_predictions }}</p>
            <p>Top Score: {{ img_obj.top_score }}</p>
            <p>Predictions:</p>
            <ul>
                {% for category, score in img_obj.predictions.items %}
                    <li>{{ category }}: {{ score }}</li>
                {% endfor %}
            </ul>
    {% endif %}

        <div class="user-profile">
            <img src="{% static 'designs/images/user-icon-default-96.png' %}" alt="User Profile" id="profile-icon" onclick="toggleDropdown()">            
            <!-- User profile menu -->
            <div class="profile-menu" id="profile-menu">
                <ul>
                    <li><a href="#">Settings</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                    <!-- Add more menu options (e.g., change password, email) -->
                </ul>
            </div>
        </div>
</header>

{% comment %} <script src="{% static 'designs/js/carousel.js' %}"></script>    {% endcomment %}
<div id="car1" class="container text-center my-3">
    <h2 class="font-weight-light">Recommended Items</h2>
    <div class="row mx-auto my-auto justify-content-center">
        <div id="recipeCarousel" class="carousel slide">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="//via.placeholder.com/500x400/31f?text=1" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Product 1</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="//via.placeholder.com/500x400/e66?text=2" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Product 2</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="//via.placeholder.com/500x400/7d2?text=3" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Product 3</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="//via.placeholder.com/500x400?text=4" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Product 4</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="//via.placeholder.com/500x400/aba?text=5" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Product 5</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="//via.placeholder.com/500x400/fc0?text=6" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide 6</div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>

<div class="container text-center my-3">
    <h2 class="font-weight-light">Recently Searched</h2>
    <div class="row mx-auto my-auto justify-content-center">
        <div id="recipeCarousel2" class="carousel slide">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="//via.placeholder.com/500x400/31f?text=1" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Product 1</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="//via.placeholder.com/500x400/e66?text=2" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Product 2</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="//via.placeholder.com/500x400/7d2?text=3" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Product 3</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="//via.placeholder.com/500x400?text=4" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Product 4</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="//via.placeholder.com/500x400/aba?text=5" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Product 5</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="//via.placeholder.com/500x400/fc0?text=6" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide 6</div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel2" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel2" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>
    {% comment %} <footer>
        <!-- Footer content here -->
    </footer> {% endcomment %}
{% endblock %}
