/* Reset some default styles for the body and header */
body, header, nav, ul, li, a {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    /* font-family: Arial, sans-serif; */
    font-family: 'Lato', sans-serif;
  }

/* Header Styles */
header {
    background-color: #0091ff;
    background-image: linear-gradient(to right, #0091ff, #ad2affe8);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
  }

nav li {
    margin-right: 20px; 
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

.navbar-logo a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.user-actions {
    display: flex;
  }
  
  .login, .signup {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
  }
/* Upload Buttons Styles */

.upload-form {
    text-align: center;
    padding: 20px;
    background-color: #0091ff;
    background-image: linear-gradient(to right, #0091ff, #ad2affe8);
    /* border-radius: 10px; */
    margin-bottom: 20px;
}

.upload-form label {
    display: block;
    margin-bottom: 10px;
    color:white;
}

.upload-form input[type="file"] {
    padding: 10px;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.upload-form input[type="submit"] {
    padding: 10px 20px;
    background-color: #fff;
    color: #0091ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.upload-form input[type="submit"]:hover {
    background-color: #ad2affe8;
    color: #fff;
}

.error-message {
    color: #ff0000;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}


/* Model Predictions styles
    * Note: the model predictions are displayed in a carousel
    *       with 3-5 items per slide
    */
.top-result{
    text-align: center;
    margin-top: 20px;
}

.top-prediction {
    text-align: center;
    color: white;
    padding: 20px;
    background-color: #0091ff;
    background-image: linear-gradient(to right, #0091ff, #ad2affe8);
    border-radius: 10px;
    margin-bottom: 20px;
}

.top-prediction img{
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.top-prediction h2{
    font-size: xx-large;
    margin-bottom: 10px;
}
.top-prediction p {
    font-size: large;
    margin-bottom: 10px;
}

.other-predictions h2 {
    font-size: xx-large;
    margin-bottom: 16px;

}
.other-predictions ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.other-predictions li {
    font-size: 40px;
    margin-bottom: 10px;
}

/* Main Content Styles */
main {
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.swiper {
    width: 50%;
    height: 25%;
    margin-bottom: 20px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 760px) {
    .swiper-button-next {
        right: 20px;
        transform: rotate(90deg);
    }

    .swiper-button-prev {
        left: 20px;
        transform: rotate(90deg);
    }
}

/* Footer Styles (customize as needed) */
footer {
    background-color: #333333;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: auto;
}
